{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "lodash",
    "add-module-exports",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}